@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

#hero {
  margin: 0 auto;
  max-width: 1920px;
  height: 919px;
  background-image: linear-gradient(
      0deg,
      rgb(9, 9, 9) 3.482%,
      rgba(16, 16, 16, 0) 101.632%
    ),
    url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  opacity: 0.8;
  margin-bottom: 16px;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  margin-bottom: 24px;
}

#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px 32px 21px 32px;
  border-radius: 5px;
  background: rgb(82, 195, 3);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
}

#sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 167px 0px 72px;
}
#sale .sale-subtitle {
  color: rgb(16, 16, 16);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 16px;
}

#sale .sale-title {
  width: 691px;
  color: rgb(16, 16, 16);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: 48px;
}

#sale #card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.sale-card {
  width: 424px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgb(116, 115, 115);
  border-radius: 8px;
}

.sale-card .card-title {
  margin: 56px 0px 24px;
  padding: 14px 32px;
  border-radius: 5px;
  background: rgba(82, 195, 3, 0.15);
  color: rgb(16, 16, 16);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.sale-card .card-subtitle {
  color: rgb(16, 16, 16);
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  margin-bottom: 24px;
}

.sale-card .card-description {
  color: rgb(16, 16, 16);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 64px;
}

#about {
  max-width: 1920px;
  height: 671px;
  display: flex;
  margin: 172px auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.footer-title {
  color: rgb(16, 16, 16);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  text-align: center;
  margin-bottom: 24px;
  max-width: 805px;
}

.footer-subtitle {
  color: rgb(16, 16, 16);
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 48px;
}

.follow-title {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  color: rgb(16, 16, 16);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
  padding: 30px 0px;
  width: 100%;
}

.social-logo svg {
  padding: 24px 10px 0px;
}

#footer {
  background-image: url("../assets/social-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1920px;
  height: 671px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto 48px;
}
